<div class="main-container">
    <div class="container">
        <div class="scrolling-note">
            <p>Please click on the home image for the location.</p>
        </div>
        <div class="card">
            <div class="arch-text">
                <svg viewBox="0 0 1000 70">
                    <text x="43%" y="40%" text-anchor="middle" font-size="36" font-family="Arial, sans-serif">
                        <textPath xlink:href="#archPath">JOIN US FOR A </textPath>
                    </text>
                    <path id="archPath" d="M 100,200 Q 500,-100 900,200" fill="none" />
                </svg>
            </div>
            <p class="h_title">
                HOUSE WARMING
            </p>
            <div class="dte_dtils">
                <p>FRIDAY . 23 AUGUST . 10.30AM </p>
            </div>
            <div class="content">
                <p>
                    Dear Friends and Family,
                    <br>
                    We are delighted to invite you to join us in celebrating our new home! Your presence will make this
                    moment
                    even
                    more special for us. Please join us for a housewarming gathering filled with joy, laughter, and good
                    cheer.
                </p>
            </div>
            <div class="img_detials">
                <a href="https://maps.app.goo.gl/Li1rMhvtkmXxLYqf9">
                    <img src="./../assets/cartoon-model-residential-home-property.png"
                        alt="Cartoon model of residential home property"></a>
            </div>
            <div class="footer">
                Invited by<br>
                {{name}} & FAMILY
            </div>
        </div>
    </div>
</div>